<div style="width: 78%; height: 550px; border: 2px solid; float: left">
  <% for player in @players %>
    <div style='width: 100px; height: 50px; font-size: 80%; border: 1px solid; margin: 1em'> 
      <%= player.name %>
    </div>
  <% end %>
</div>

<div style="float: left; margin-left: 1em"> 
  <h3>Location: <%= @location %> </h3>
  
  <ul>
    <li>
      <%= link_to "North", location_url(:x => @location.north.x, :y => @location.north.y) %>
    </li>
    <li>
      <%= link_to "West", location_url(:x => @location.west.x, :y => @location.west.y) %>
    </li>
    <li>
      <%= link_to "East", location_url(:x => @location.east.x, :y => @location.east.y) %>
    </li>
    <li>
      <%= link_to "South", location_url(:x => @location.south.x, :y => @location.south.y) %>
    </li>
  </ul>
</div>

